
body {
	animation: show 1000ms 100ms forwards;
	opacity: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: rgb(24,18,43);
	background: linear-gradient(90deg, rgba(24,18,43,1) 16%, rgba(99,89,133,1) 86%, rgba(68,60,104,1) 100%);
	/* background-color: #635985; */
	height: 100vh;
}

.container {
	margin-top: 5vh;
	/* background-color: #443C68; */
	background: rgb(68,60,104);
	background: linear-gradient(90deg, rgba(68,60,104,1) 16%, rgba(99,89,133,1) 43%, rgba(24,18,43,1) 100%);
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
}

.pic-container {
	display: flex;
	text-align: center;
	flex-direction: column;
	color: #18122B;
}

.img {
	transition: 800ms ease;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
}
.img:hover {
	cursor: crosshair;
	transition: 400ms ease;
	width: 35vh;
	height: 35vh;
}

.competitors {
	animation: show 1000ms 100ms forwards;
	opacity: 0;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	background-color: black;
	padding: 10px;
}

@keyframes show {
	100% {
		opacity: 1;
	}
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: oblique;
	font-weight: bold;
	font-family: "Courier New", monospace;
	font-size: clamp(2rem, 1vw, 1rem);

}

h1 {
	animation: show 1000ms 100ms forwards;
	opacity: 0;
	text-align: center;
	font-style: oblique;
	/* font-size: clamp(3rem, 2vw, 2rem); */
	font-size: 7vh;
}

button {
	transition: 400ms ease;
	background-color: darkslategrey;
	padding: 1vh;
	color: lightcyan;
	border-radius: 1vh;
	margin-top: 0;
}

button:hover {
	transition: 400ms ease;
	background-color: darkkhaki;
	cursor: pointer;
	padding: 2vh;
	color: cyan;
}


footer {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer > p {
	transition: 400ms ease;
	font-size: 1vh;
}

footer > p:hover {
	transition: 400ms ease;
	font-size: 12px;
	color: darkcyan;
}

.foot-div {
	display:flex;
	background-color: darkslategray;
}
.mute {
	font-size: 20px;
}
